#search {
    background: #F9FBFC;
    border-radius: 2px;
    border: 2px solid #202329;
    margin: 0 24px;
    height: 64px;
    width: calc(100% - 160px);
    font-size: 24px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #1E1E1F;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
  }
  
  #search::placeholder {
    color: #A5A5A5;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
  }
  
  #search:focus {
    outline-color: #61DAFA;
  }

  #labelSearch {
    width: 80px;
    height: 64px;
    margin-left: 2px;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2px;
    padding-right: 2px;
    background-color: #A5A5A5;
    color: #1E1E1F;
    border-radius: 4px;
    border: 1px solid #202329;
  }
  
  .TodoSearch {
    background: #F9FBFC;
    border-radius: 2px;
    border: 2px solid #202329;
    margin: 0 24px;
    height: 64px;
    width: calc(100% - 62px);
    font-size: 24px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #1E1E1F;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
  }
  
  .TodoSearch::placeholder {
    color: #A5A5A5;
    font-family: 'Montserrat';
    font-weight: 400;
  }
  
  .TodoSearch:focus {
    outline-color: #61DAFA;
  }